<h1 class="text-center display-1 m-5 p-5 text-info mx-auto">P R A N A</h1>
<h2 class="text-center display-3 m-3 p-3 text-info mx-auto"><3</h2>
<h2 class="text-center display-3 m-5 p-5 text-info mx-auto">Yoga Database</h2>