<h1 class="text-center m-5">Search By...</h1>
<form action="/asanas/search/by_asana_name" class="m-5 p-3">
    <h5>Asana Name: </h5>
    <input type="text" name="asana[asana_name]" value="<%= @asana.asana_name %>">
    <input type="submit" value="Go" class="m-2">
</form>

<form action="/asanas/search/by_asana_type" class="m-5 p-3">
    <h5>Asana Type: </h5>
    <input type="text" name="asana[asana_type]" placeholder="asana type">
    <input type="submit" value="Go" class="m-2">
</form>

<form action="/asanas/search/by_body_part" class="m-5 p-3">
    <h5>Body Part: </h5>
    <input type="text" name="asana[target_specific]" placeholder="body part">
    <input type="submit" value="Go" class="m-2">
</form>