<h1>Search By:</h1>
<form action="/asanas/search/by_asana_name">
    <h5>Asana Name</h5>
    <input type="text" name="asana[asana_name]" value="asana name">
    <input type="submit" value="Go">
</form>

<form action="/asanas/search/by_asana_type">
    <h5>Asana Type</h5>
    <input type="text" name="asana[asana_type]" placeholder="asana type">
    <input type="submit" value="Go">
</form>

<form action="/asanas/search/by_body_part">
    <h5>Body Part</h5>
    <input type="text" name="asana[target_specific]" placeholder="body part">
    <input type="submit" value="Go">
</form>